
*.ogg

*.mp3

media/manual/manual1.png

media/manual/manual10.png

media/manual/manual2.png

media/manual/manual3.png

media/manual/manual5.png

media/manual/manual6.png

media/manual/manual7.png

media/manual/manual8.png

media/manual/manual9.png

media/manual/manual4.png

*.zip
