* {margin: 0; padding: 0;}
body {width:512px; margin:0 auto; background-color:#00c3d4; cursor:url('../media/cur.png'), auto; font:1em Helvetica, Arial sans-serif;}
header,
footer {margin:32px 0; text-align:center; font-size:0.8em; color:#ffec93;}
a {color:#ffec93;}

canvas {display: block; position:absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;}

