/* 
    ----------------------------------------------------------------------------
    
        KRZYSZTOF JANKOWSKI && PRZEMYSLAW SIKORSKI
        PIRADICE
    
        abstract: HTML5 Canvas 2D Turn-based Game Engine    
        created: 06-03-2013
        licence: do what you want and dont bother me
        
        webpage: http://piradice.krzysztofjankowski.com
        twitter: @w84death, @rezoner
        
    ----------------------------------------------------------------------------
*/

@-webkit-keyframes slide {
  0% {    top:0; }
  10% {   top:0; }
  42% {   top:-419px; }
  64% {   top:-838px; }
  86% {   top:-1257px; }
  100% {  top:0; }
}
@-moz-keyframes slide {
  0% {    top:0; }
  10% {   top:0; }
  42% {   top:-419px; }
  64% {   top:-838px; }
  86% {   top:-1257px; }
  100% {  top:0; }
}
@-o-keyframes slide {
  0% {    top:0; }
  10% {   top:0; }
  42% {   top:-419px; }
  64% {   top:-838px; }
  86% {   top:-1257px; }
  100% {  top:0; }
}
@keyframes slide {
  0% {    top:0; }
  10% {   top:0; }
  42% {   top:-419px; }
  64% {   top:-838px; }
  86% {   top:-1257px; }
  100% {  top:0; }
}