* {margin: 0; padding: 0;}
body {background-color:#444; color:#f8f8f8; cursor:url('/media/cur.png'), auto; font:1em 'VT323', cursive;}
header,
footer {margin:32px 0; text-align:center; font-size:0.8em; color:#ffec93;}
a {color:#ffec93;text-decoration:none;}
a:hover {text-decoration:underline;}
ul {list-style:none;}
ul li+li {margin-top:1em;}

#container{background:#00c3d4 url('/media/ocean.png');}
#loading {display:block; padding:1em 0; text-align:center;}
#game {display:none; width:1024px; height:768px; margin:0 auto;}
#game.editor {padding-left: 180px;}
#gameGUI {display:none;}
canvas {display: block; position:absolute;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;}
    
.desktop {width:512px; margin:0 auto;}    
article {margin-top:1em;}
article h2 {margin-top:2em;}
article h3 {margin-top:1em;}
article p {margin-top:1em;}
article:first-child {margin-top:0;}
.sprite {display:inline-block; width:32px; height:32px; margin-bottom: -14px; background-image:url('/media/sprites_web.png');}
.animate:hover .sprite {background-position-x:-32px !important;}
footer a {display:inline-block; width:32px; height:32px; background: transparent url('/media/sprites_web.png') -128px -64px; color:#000; position:relative;}
footer a strong {position: absolute;top: 12px;left: 3px;}

aside {position:absolute; top:1em; left:1em; background-color:rgba(0,0,0,0.2); padding:1em; }
aside ul {list-style:none;}
aside ul li {margin:1em 0; text-align:right;}
input,
select {border:none; background-color:#f8f8f8; color:#444; padding:0.5em 1em;  font:1em 'VT323', cursive; cursor:url('../media/cur.png'), auto;}
input {width:4em;}
button {border:none; background-color:#f8f8f8; color:#444; padding:0.5em 2em;  font:1em 'VT323', cursive; cursor:url('../media/cur.png'), auto;}
button:hover {background-color:#ffec93;}
button.hot {background-color:#e44; color:#fff;}
.disabled {opacity:0.2;}
aside ul.play {border: 1px dashed #fff;}
aside ul.play li {text-align:center;}

.gui.right {right:1em; left:auto;}